@import url("https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;700&family=Sarala:wght@400;700&display=swap");

* {
    margin: 0px;
}

.logo {
    display: block;
    width: 120px;
    margin: auto;
}

h1 {
    font-family: "Sarala", Helvetica, Arial;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color: #606062;
}

span {
    font-family: "Sarala", Helvetica, Arial;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: -0.333333px;
    color: #606062;
}

a {
    text-decoration: none;
}

a > button {
    font-family: "Inter", Helvetica, Arial;
    font-weight: 700;
    font-size: 20px;
    padding: 0px;
    height: 30px;
    width: 30px;
    color: #30553a;
    background-color: #ffffff;
    border: solid #30553a 3px;
    border-radius: 50px;
}

button:hover,
.steps:hover {
    cursor: pointer;
}

/*
    AO AVANÇAR OU RETORNAR,
    TROCAR AS PROPRIEDADES.
.button {
    height: 35px;
    width: 35px;
    color: #ffffff;
    background-color: #30553a;
    border: solid #30553a 5px;
}
.span {
    font-weight: 700;
}
*/

section {
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* ESPAÇO IRREGULAR ENTRE OS STEPS */
    padding: 10px 10%;
}

.green-line {
    margin: 15px auto;
    width: 75%;
    border: 1px solid #30553a;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

form > input {
    height: 40px;
    padding: 5px 15px;
    margin: 15px 0px;
    font-size: 20px;
    border: 1px solid #606062;
    border-radius: 5px;
    font-family: "Sarala", Helvetica, Arial;
    font-weight: 400;
}

::placeholder {
    color: #606062;
    opacity: 0.7;
}

.nav-buttons {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.nav-buttons > button {
    height: 55px;
    width: 47%;
    margin: 15px 0px;
    font-family: "Sarala", Helvetica, Arial;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    background-color: #30553a;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
}

/* Responsividade */

@media (max-width: 1000px) {
    .logo {
        width: 90px;
    }

    h1 {
        font-size: 25px;
    }

    .steps > a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    a > span {
        font-size: 17px;
    }

    a > button {
        font-size: 15px;
        border-width: 2px;
    }

    .green-line {
        margin: 0px auto;
    }

    form > input {
        height: 35px;
        padding: 5px 15px;
        margin-top: 15px;
        margin-bottom: 0px;
        font-size: 17px;
        border: 1px solid #606062;
        border-radius: 5px;
    }

    .nav-buttons > button {
        font-size: 17px;
        font-weight: 400;
    }
}

@media (max-width: 600px) {

    body {
        margin: auto auto;
    }

    section {
        justify-content: center;
    }

    .steps {
        padding: 10px;
    }

    form {
        width: 80%;
    }

    .nav-buttons {
        width: 80%;
    }

    .steps > .step > span {
        display: none;
    }
}
