@import url("https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;700&family=Sarala:wght@400;700&display=swap");

* {
    margin: 0px;
}

.logo {
    display: block;
    width: 100px;
    margin: auto;
}

h1 {
    font-family: "Sarala", Helvetica, Arial;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #606062;
}

span {
    font-family: "Sarala", Helvetica, Arial;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: -0.333333px;
    color: #606062;
}

a {
    text-decoration: none;
}

a > button {
    font-family: "Inter", Helvetica, Arial;
    font-weight: 700;
    font-size: 20px;
    padding: 0px;
    height: 30px;
    width: 30px;
    color: #30553a;
    background-color: #ffffff;
    border: solid #30553a 3px;
    border-radius: 50px;
}

button:hover,
.steps:hover {
    cursor: pointer;
}

.current-step > button {
    height: 35px;
    width: 35px;
    color: #ffffff;
    background-color: #30553a;
    border: solid #30553a 5px;
}

.current-step > span {
    font-weight: 700;
}

/* .material-symbols-outlined {
    display: none;
} */

section {
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* ESPAÇO IRREGULAR ENTRE OS STEPS */
    padding: 10px 10%;
    align-items: center;
}

.green-line {
    margin: 15px auto;
    width: 75%;
    height: 1px;
    background-color: #30553a;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

form > input {
    height: 40px;
    padding: 5px 15px;
    margin: 15px 0px;
    font-size: 20px;
    border: 1px solid #606062;
    border-radius: 5px;
    font-family: "Sarala", Helvetica, Arial;
    font-weight: 400;
    color: #606062;
    transition: 0.2s;
}

input:focus {
    outline: #30553a solid 2px;
    color: #606062;
    border: none;
}

::placeholder {
    color: #606062;
    opacity: 0.7;
}

.nav-buttons {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.nav-buttons > button {
    height: 55px;
    width: 47%;
    margin: 15px 0px;
    font-family: "Sarala", Helvetica, Arial;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    background-color: #30553a;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    transition: 0.2s;
}

.nav-buttons > button:hover {
    background-color: #ffffff;
    color: #30553a;
    border: 1px solid #30553a;
}

.container {
    display: flex;
    flex-direction: column;
}

textarea {
    display: block;
    width: 70%;
    margin: 15px auto;
    height: 45vh;
    overflow-y: scroll;
    resize: none;
    border: 1px solid #606062;
    border-radius: 6px;
    color: #606062;
    font-size: 17px;
    font-family: "Sarala", Helvetica, Arial;
    outline: none;
    padding: 5px;
}

.custom-checkbox > label {
    font-family: "Sarala", Helvetica, Arial;
    color: #606062;
    font-size: 20px;
    font-weight: 400;
}

.custom-checkbox {
    margin: auto;
}

.custom-checkbox input,
.custom-radio input {
    display: none;
}

.custom-checkbox input + label:before {
    content: "";
    width: 18px;
    height: 18px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid #30553a;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 3px;
    cursor: pointer;
}

.custom-checkbox input:checked + label:before {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
    background-color: #30553a;
    background-position: center;
    border: none;
    padding: 1px;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #606062 #ffffff;
}

/* Chrome, Edge, and Safari */
textarea::-webkit-scrollbar {
    width: 9px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #606062;
    border-radius: 20px;
    border: 3px solid #ffffff;
}

p {
    font-family: "Sarala", Helvetica, Arial;
    color: #606062;
    font-size: 20px;
    font-weight: 400;
    width: 50%;
    margin: 10px auto;
}

.pdfs > span {
    color: #30553a;
    font-size: 40px;
}

.download {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pdfs {
    display: flex;
    align-items: center;
    border: 2px solid #30553a;
    padding: 10px;
    border-radius: 7px;
    margin: 10px;
    width: 350px;
}

.pdfs > a {
    font-family: "Sarala", Helvetica, Arial;
    color: #606062;
    font-size: 20px;
    font-weight: 400;
}

/* Responsividade */

@media (max-width: 1000px) {
    .logo {
        width: 80px;
    }

    h1 {
        font-size: 25px;
    }

    .steps > a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    a > span {
        font-size: 17px;
    }

    a > button {
        font-size: 15px;
        border-width: 2px;
    }

    .green-line {
        margin: 0px auto;
    }

    form > input {
        height: 35px;
        padding: 5px 15px;
        margin-top: 15px;
        margin-bottom: 0px;
        font-size: 17px;
        border: 1px solid #606062;
        border-radius: 5px;
    }

    .nav-buttons > button {
        font-size: 17px;
        font-weight: 400;
    }

    .custom-checkbox > label {
        font-size: 17px;
        padding: 0px 20px;
    }

    .download {
        flex-direction: column;
        align-items: center;
    }

    p {
        margin: 15px auto;
    }
}

@media (max-width: 600px) {
    body {
        margin: auto auto;
    }

    section {
        justify-content: center;
        align-items: center;
    }

    .steps {
        padding: 10px;
    }

    form {
        width: 80%;
    }

    .nav-buttons {
        width: 80%;
    }

    .steps > .step > span {
        display: none;
    }

    .current-step > span {
        text-align: center;
        line-height: 20px;
    }

    .logo {
        width: 60px;
    }

    textarea {
        width: 85%;
    }

    div.custom-checkbox {
        display: flex;
        flex-wrap: wrap;
        width: fit-content;
        padding: 0px 7.5%;
    }

    p {
        margin: 5px auto;
        width: 80%;
        padding: 10px;
        font-size: 17px;
    }

    .pdfs {
        flex-direction: column;
        width: 160px;
        padding: 5px;
        text-align: center;
    }

    .pdfs > a {
        font-size: 17px;
    }
}
